:root {
  --theBlues: #86a1ca;
  --navyBlue: #1e3557;
  --niceGrey: #545961;
  --fontColor:#020811;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--navyBlue);
  background-color: var(--theBlues);
}

h1,
h2,
h6 {
  position: absolute;
  color: var(--navyBlue);
  background-color: var(--niceGrey);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--navyBlue);
}

main {
  width: 96%;
  margin: 2rem auto;
}

section {
  width: 80%;
  position: absolute;
  right: 15rem;
  padding-left: 2rem;
}