:root {
  --theBlues: #86a1ca;
  --navyBlue: #1e3557;
  --niceGrey: #545961;
  --fontColor:#020811;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--navyBlue);
  background-color: var(--theBlues);
  margin: 0;
}

h1,
h2,
h6 {
  position: absolute;
  color: var(--navyBlue);
  background-color: var(--niceGrey);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 2rem;
  font-weight: 400;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10rem 4rem 0 14rem
}

a {
  text-decoration: none;
}

header {
  height: 8rem;
  width: 100%;
  background-color: var(--navyBlue);
}

li {
  display: inline;
  padding: 0 2rem;
  font: 400;
  font-size: 3rem;
}

main {
  width: 96%;
  margin: 2rem auto;
}

img {
  height: 30rem;
  width: 47.4rem;
  border: 1rem solid var(--niceGrey);
  margin: 0 2rem;
}

.header-title {
  display: flex;
  position: absolute;
  padding-left: 4rem;
  top: 1.8rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.justify-center {
  justify-content: center;
}

.text-right {
  text-align: right;
  padding-top: 1rem;
}

.underline {
  color: var(--niceGrey);
  text-decoration: underline;
  text-decoration-thickness: 1rem;
  text-underline-offset: 2rem;
}

.section-row {
  margin: 0;
  display:flex;
  flex-direction:row;
}

.portrait {
  height: 40rem;
  border: 1rem solid var(--niceGrey);
  margin-left: 8rem;
  width: 35rem
}

.section {
  margin-bottom: 4rem;
  display:flex;
}

.row {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.section .section-header {
  position: relative;
  color: var(--fontColor);
  background-color: var(--theBlues);
  border-right: 1rem solid var(--fontColor);
  width: 46rem;
  padding: 0.5rem 2rem 0.5rem 28rem;
}

.card-header {
  position: absolute;
  margin: 21rem 1rem 1.5rem 2rem;
  padding: 2rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.large-header {
  position: absolute;
  margin: 38rem 124.5rem 2rem 2rem;
}

.section-column {
  padding: 10rem 12.4rem 0 4rem;
  flex: 1 0 100%;
  padding: 1.5rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.large-image {
  width: 150rem;
  height: 50rem;
}

.border {
  padding: 10rem 12.4rem 0 4rem
}

.contact-measurments {
  padding: 5rem 20rem 5rem 14rem;
  width: 100%;
  text-align: center;
}

.contact-info {
  margin: 0;
}


.center-content {
  justify-content: center;
  display: flex;
}

.underline-black {
  color: var(--fontColor);
  text-decoration: underline;
  text-decoration-thickness: 1rem;
  text-underline-offset: 2rem;
  padding: 0 8rem;
}

.underline-black a {
  color: var(--fontColor);
}

.main-content {
  width: 180rem;
}

.paragraph {
  width: 120rem
}